@media (max-width: 900px) {/*para pantallas de máximo 600px*/
    /* CSS rules for sizes smaller than 600px */
  .asideFilter{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
  }
  .asideFilter ul{
    display:flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .asideFilter > div:nth-child(7){
    display: flex;
    justify-content: center;
  }
  .asideFilter label h2{
    margin-bottom: 0.8rem;
  }
  section {
    width: 100%;
  }
  .buscador{
    justify-content: center;
  }
  .buscador input, .buscador select{
    width: 70%;
  }
  .buscador h2{
    display: none;
  }
  .buscador div {
    flex-direction: column;
    width: 100%;
  }
  #content ul{
    justify-content: center;
  }
  header {
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
  header nav{
    flex-wrap: wrap;
    justify-content: center;
  }
  main{
    flex-direction: column;
  }
  .btn-clear-search {
    display: none;
  }
  /*portada*/
  .imageStart {
    margin-top: 10%;
    width: 350px;
    height: 200px;
  }
  .container__imageStart__button {
    margin-right: -10%;
    margin-top: 10%;
    margin-bottom: 24%;
  }
  .container__imageStart__title {/*contenedor del titulo*/
    margin-top: 10%;
  }
  /*Api*/
  form {
    margin-top: 200px;
    margin-left: -25%;
    margin-right: -100px;
    padding: 0;
    display: inline-table;
  }
  .userName .api__key {/*CONTENEDOR USUARIO INPUT*/
    width: 300px;
    padding: 10px 5px;
  }
  .secundary-header{
    padding: 20px 15%;
  }
  /*grupal*/
  .containerGroupal__chat__inputSend {
    bottom: 0;
  }
  .bxs-send {
    transform: translate(5px, 0);
  }
  .containerGroupal__Chat {/*contenedor chat grupal*/
    background-size: cover;
  }
  .containerGroupal {/*contenedor de los cuadros*/
    margin-left: 50px;
    margin-bottom: 0;
    width: 350px;
    height: 500px;
  }
  .inputGroupal {/*input chat grupal*/
    font-size: 14px;
    width: 65vw;
    bottom: 135px;
  }
  .bxs-send {
  transform: translate(5px, -132px);
}
  .containerGroupal__Users {/*contenedor de participantes*/
    display: none;;
  }
  .system-txt-container {
    display: list-item;
  }
  .systemTop {
    scroll-behavior: auto;
  }
}